* {
  border: 1px solid black;
}

body {
  display: grid;
  grid-template-rows: 200px 500px 1fr;
}

header {
  display: grid;
  grid-template-rows: 100px 1fr;
  /* justify-content: center;
  align-items: center; */
}

main {
  display: grid;
  grid-template-rows: 100px 100px 1fr;
  justify-items: center;
  align-items: center;
}

#player1-scoreboard.active,
#player1-scoreboard.active {
  background-color: aqua;
}

#join-game,
#player-scores {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  gap: 20px;
}

#game-actions {
  display: flex;
  gap: 20px;
}

#join-game-button,
#p1-run,
#p1-points {
  cursor: pointer;
}

button:disabled,
button[disabled] {
  border: 1px solid black;
  background-color: grey;
  color: white;
  pointer-events: none;
}
